{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br><br>
  <div class="row justify-content-sm-center">
      <h1>Sign the r/learnpython Guest Book :)</h1>
  </div>
  <form action="/submit" method="POST" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="username">Username:</label> <br>
      <p class="text">(10 character limit.)</p>
      <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
    </div>
      {% for error in form.username.errors %}
        <div class="alert alert-warning">{{ error }}</div>
      {% endfor %}
    <div class="form-group">
      <label for="message">Message:</label>
      <p class="text">(100 character limit.)</p>
      <input type="text" class="form-control" id="message" placeholder="Enter Message" name="message">
    </div>
      {{ form.recaptcha }}
      {% for error in form.message.errors %}
        <div class="alert alert-warning">{{ error }}</div>
      {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}