{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br><br>
  <div class="row justify-content-sm-center">
  <h1>View the r/learnpython Guest Book :)</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
        {% for row in cursor %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}