{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>View te r/learnpython Guest Book :)</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
        {% for row in cursor %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}